.button-custom {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%) #5ca9fb;
    padding: 14px 34px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s linear;
    border: 0;
}

.button-custom:hover {
    color: #fff;
    background: #6372ff;
}